$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 1024px;
$bootstrap-xl: 1200px;

$breakpoints: (
	sm: $bootstrap-sm,
	md: $bootstrap-md,
	lg: $bootstrap-lg,
	xl: $bootstrap-xl
);

$font-sizes: (
	big: (
		sm: 40px,
		md: 35px,
		lg: 32px,
		xl: 30px
	),
	medium: (
		sm: 30px,
		md: 25px,
		lg: 20px
	),
	small: (
		sm: 14px
	)
);

$line-heights: (
	big: (
		sm: 1,
		md: 1.5,
		lg: 1.2
	)
);

@each $textstyle, $styles in $line-heights{
	.line-height-#{$textstyle}{ /* .line-height-big {...}*/
		line-height: map-get($styles, "sm");
		@each $bp, $val in $styles{
			@media (min-width: map-get($breakpoints, $bp)){
				line-height: $val;
			}
		}
	}
}

$root-font-size: 20px;


p{
	font-size: 2rem;
}


html{
	font-size: $root-font-size;
}



/*
	stile di default: stile mobile;
	media query per tutti gli altri stili, con approccio min-width
*/



@function px-to-rem($px-dimension) {
	/* una function RITORNA UN VALORE che potrà essere utilizzato in scss per fare altre cose */
	@return $px-dimension/$root-font-size;
}

@mixin rem-font-size($px){
	/* un mixin STAMPA DEL CODICE CSS SUL FOGLIO DI STILE FINALE che non posso riutilizzare, ma posso mettere direttamente nel foglio di stile */
	font-size: px-to-rem($px)rem;
}

@each $textstyle, $styles in $font-sizes{
	/*
		in $textstyle ci sarà volta per volta: "big", "medium", "small";
		in $styles ci saranno di volta in volta le mappe: (
			sm: 40px,
			md: 35px,
			lg: 32px,
			xl: 30px
		),
		(
			sm: 30px,
			md: 25px,
			lg: 20px
		),
		(
			sm: 14px
		);
	*/
	
	.font-size-#{$textstyle}{
		font-size: px-to-rem(map-get($styles, "sm"))rem;

		@each $bp, $val in $styles{
			/*
			in $bp ci sarà di volta in volta la chiave che indica uno stile ad una certa dimensione:
			sm, md, lg, xl;

			in $val ci sarà di volta in volta il valore associato a quelle chiavi:
			40px, 35px, 32px, 30px;

			*/

			@media (min-width: map-get($breakpoints, $bp ) ){
				@include rem-font-size($val);
			}
		}

	}
}


.myClass{
	@include rem-font-size(50px);
}
