$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

$root-font-size: 16px;

$grid-breakpoints: (
  xs: 0,
  sm: $bootstrap-sm,
  md: $bootstrap-md,
  lg: $bootstrap-lg,
  xl: $bootstrap-xl
);

$font-sizes: (
  big: (
    sm: 40px,
    md: 35px,
    lg: 25px
  ),
  small: (
    sm: 20px,
    md: 17px,
    lg: 14px
  )
);

@function convert_to_rem($px: 16px){
  @return $px/$root-font-size
}

@mixin prop_to_rem($prop, $value){
  #{$prop}: convert_to_rem($value)rem;
}

@each $k, $styles in $font-sizes{
  .font-size-#{$k}{
    @include prop_to_rem(font-size, map-get($styles, "sm"));
    
    @each $bp, $val in $styles{
      @media (min-width: map-get($grid-breakpoints, $bp)){
        @include prop_to_rem( font-size, map-get($styles, $bp) );
      }
    }
  }
}